# WebStorm
.idea

# Visual Studio Code
.vscode

# Modules
node_modules

# Environments
.env
.env.test

# Nuxt
.nuxt
.output
dist

# Yarn
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
